
html, body
    color text-color
    font-size base-font-size
    font-family base-font-family
    height 100%
    position relative

h1, .h1
    font-family heading-font-family
    font-size 2.66rem
    line-height 3rem

h2, .h2
    font-family heading-font-family
    font-size 2.33rem
    line-height 2.66rem

h3, .h3
    font-family heading-font-family
    font-size 2rem
    line-height 2.33rem

h4, .h4
    font-family heading-font-family
    font-size 1.5rem
    line-height 2rem

h5, .h5
    font-family heading-font-family
    font-size 1.33rem
    line-height 1.66rem

h6, .h6
    font-size 1.16rem
    line-height 1.5rem

// p, .p
//     font-size 1rem
//     line-height 1.5rem

a
    color theme

.pull-right
    float right

.pull-left
    float left

.img-responsive
    display block
    max-width 100%
    height auto
p
    margin 0 0 8.5px

hr
    border-top 1px solid #ddd

.boxshadow-none
    box-shadow none !important    


