/*
* Font Variables
**/
base-font-size = 14px
// base-font-family = 'Roboto', sans-serif
// heading-font-family = 'Poppins', sans-serif
base-font-family = 'Nunito', sans-serif
heading-font-family = "Nunito", sans-serif;

/*
* Color Variables
**/
text-color = #423b3b
white = #fff
black = #000
gray = #808285
gray-dark = #393839
gray-light = #f1f2f2
gray-alfa = rgba(0, 0, 0, .20)
gray-light-alfa = rgba(0, 0, 0, 0.5)
menu-text = #949494

// theme = #62b6fd
theme = linear-gradient(45deg, #4f9af6, #0d65d1)
theme-dark = #2c84f1
theme-light = #84c3f9
