/* Animations */
@import 'animations.styl'

/* Page */
@import 'page.styl'

/* Buttons */
@import 'buttons.styl'

/* Heading */
@import 'headings.styl'

/* Cards */
@import 'cards.styl'

/* Header */
@import 'header.styl'

/* Footer */
@import 'footer.styl'

/* Themme */
@import 'theme.styl'

/* Scroll */
@import 'scroll.styl'

/* Shimmer */
@import 'shimmer.styl'

/* Profile */
@import 'profile.styl'


/* Profile */
@import 'merchant.styl'