.btn
    padding .375rem 1.25rem
    border-radius 2rem
    transition none
    cursor pointer
    &.btn-lg
        font-size 1rem
        padding 0.65rem 1.75rem
        border-radius 2rem
        font-weight bold
        min-height 42px
    &.btn-outline
        &.btn-lg
            border-width 2px
            padding 0.6rem 1.75rem
    &.btn-primary
        color white
        background theme
        border-color theme-dark
        &:hover
            background theme-dark
            border-color theme-dark
        &.btn-outline
            background transparent
            color theme
            &:hover
                color white
                background theme
                border-color theme
    &.btn-purple
        background #6667B9
        border-color #6667B9
        color white
        &:hover
            background #53549f
            border-color #53549f
        &.btn-outline
            background transparent
            color #6667B9
            &:hover
                color white
                background #6667B9
                border-color #6667B9
    &.btn-secondary
        &.btn-outline
            background transparent
            color #6c757d
            &:hover
                color white
                background #6c757d
                border-color #6c757d
    &.btn-white
        background white
        border-color white
        color text-color
        &:hover
            background rgba(255,255,255,0.8)
        &.btn-outline
            background transparent
            color white           
            &:hover
                color text-color
                background white
                border-color white
    &.btn-send
        padding 8px 20px
        background theme
        color white
        border-radius 20px
        text-transform uppercase
        font-weight bold
        transition 0.3s all ease
        &:hover
            background theme-dark
    &:focus
        outline none
    +mobile()
        padding 0.5rem 1.2rem !important
        min-height 20px !important
        font-size 0.9rem !important