.site-footer
    background #e1effa
    position relative
    font-size 16px
    .outer-box
        position relative
        padding 80px 0px 30px
        &:before
            content ''
            position absolute
            left 0
            top 0px
            width 100%
            height 100%
            background url(../images/footer-bg.png) 100px top no-repeat
            z-index 1
        &:after
            content ''
            position absolute
            top 0px
            right 100%
            margin-right -100px
            width 3000px
            height 100%
            background white
        .footer-column
            position relative
            z-index 5
        .footer-widget
            margin-bottom 30px
            &:last-child
                margin-bottom 0px
            .widget-title
                position relative
                font-size 20px
                font-weight 600
                text-transform capitalize
                color #3b566e
                line-height normal
                padding-bottom 10px
                margin-bottom 15px
                &:before
                    content ''
                    position absolute
                    left 0px
                    bottom 0px
                    width 30px
                    border-bottom 2px solid theme
            .textwidget
                max-width 360px
            ul.menu
                list-style none 
                margin 0px
                padding 0px
                li
                    display inline-block
                    width 49%
                    vertical-align top
                    margin-bottom 5px 
                    font-size 14px                   
                    a
                        color #3b566e
                        text-decoration none
                        &:hover
                            color theme-dark
        .footer-column-contact
            .footer-widget
                margin-bottom 30px
                position relative
                .widget-title
                    padding-bottom 0px
                    margin-bottom 0px
                    padding-left 50px
                    font-size 16px
                    font-weight normal
                    &:before
                        display none
                .phone-link, .email-link
                    padding-left 50px
                    color #423b3b
                    font-size 20px
                    line-height normal
                    text-decoration none
                    &:before
                        content "\f095"
                        display block
                        position absolute
                        left 0px
                        color #e1effa
                        font-family "Font Awesome 5 Pro"
                        font-weight 400
                        font-size 1.5rem
                        top 3px
                        line-height normal
                        background theme
                        width 45px
                        height 45px
                        margin-right 5px
                        text-align center
                        line-height 45px
                        border-radius 25px
                    &:hover
                        color theme-dark                           
                .email-link
                    &:before
                        content "\f0e0"
        .copyright
            padding-top 60px
            font-size 14px
            color #636363
            a
                color #636363
