header
    &.header-style-1
        background theme
        .top-bar
            background #2e80e3
            .container
                .header-top-inner
                    display flex
                    align-items center
                    flex-direction row-reverse
                    justify-content space-between
        .main-header
            padding 0px 0px 0px 0px
            height 180px
            width 100%
            .top-search-holder
                .contact-row
                    .icon
                        color #12cca7
                        font-size 18px
                        line-height 23px
                        margin 0 8px 0 0
                        vertical-align middle
                    .phone
                        margin 0 23px 0 0
                        border-right 1px solid #E2E2E2
                        padding-right 35px
                .search-area
                    -webkit-border-radius 0px
                    -moz-border-radius 0px
                    border-radius 0px
                    margin 14px 0px
                    background #fff
                    border-radius 999px
                    width 100%
                    .search-field
                        border medium none
                        -webkit-border-radius 5px 0 0 5px
                        -moz-border-radius 5px 0 0 5px
                        border-radius 999px
                        padding 13px 19px
                        width calc(100% - 52px)
                        font-family 'Barlow', sans-serif
                        font-size 14px
                        &:focus
                            outline none
                    .categories-filter
                        border-right 1px solid #E0E0E0
                        text-transform capitalize
                        display inline-block
                        line-height 35px
                        background #f6f6f6
                        border-radius 999px 0px 0px 999px
                        a
                            padding 0 20px
                            color #666
                            font-size 14px
                            .caret
                                margin-left 15px
                                color #a0a0a0
                        .dropdown-menu
                            -moz-box-shadow none
                            -webkit-box-shadow none
                            box-shadow none
                            border 1px solid #e1e1e1
                            padding 12px 17px
                            -webkit-border-radius 0px
                            -moz-border-radius 0px
                            border-radius 0px
                            li
                                margin-bottom 10px
                                a
                                    padding 0px
                                &.menu-header
                                    font-family 'Open Sans', sans-serif
                                    line-height 30px
                    .search-button
                        border-radius 999px
                        display inline-block
                        float right
                        margin 4px 5px
                        padding 10px 12px
                        text-align center
                        background theme
                        &:after
                            color #fff
                            content "\f002"
                            font-family "Font Awesome 5 Pro"
                            font-size 16px
                            line-height 16px
                        &:hover
                            text-decoration none
                            background theme-dark
            .logo-holder
                margin-top 8px
                line-height 53px
                .logo
                    width 200px
                    height 60px
                    position relative
                    img
                        background-repeat no-repeat
                        position absolute
                        object-fit contain
                        height 100%
                        width 100%
            .navbar-default
                padding 0px
                margin-top 8px
                .navbar-collapse
                    .navbar-nav
                        & > li
                            margin-top 5px
                            & > a
                                color #fff
                                font-size 16px
                                font-weight 600
                                padding 12px 15px
                                &:hover
                                    background #fff
                                    border-radius 999px
                                    color #ee4054