.shimmer-data
    padding 25px
    display flex
    width 100%
    .shimmmer-box
        height auto
        width 25%
        margin-right 10px
        .shimmer-header
            height 80px
            width @height
            border-radius 5px
            background linear-gradient(to right, #eee 20%, #ddd 50%, #eee 80%)
            -webkit-background-size 125px 100%
            -moz-background-size 125px 100%
            background-size 500px 100px
            -webkit-animation-name shimmerBackground
            animation-name shimmerBackground
            -webkit-animation-duration 60s
            animation-duration 60s
            -webkit-animation-iteration-count infinite
            animation-iteration-count infinite
            -webkit-animation-timing-function linear
            animation-timing-function linear
            -webkit-animation-fill-mode forwards
            animation-fill-mode forwards
            margin auto
            margin-bottom 20px
        .shimmer-lines
            height 10px
            width 100%
            background linear-gradient(to right, #eee 20%, #ddd 50%, #eee 80%)
            background-size 500px 100px
            -webkit-animation-name shimmerBackground
            animation-name shimmerBackground
            -webkit-animation-duration 60s
            animation-duration 60s
            -webkit-animation-iteration-count infinite
            animation-iteration-count infinite
            -webkit-animation-timing-function linear
            animation-timing-function linear
            -webkit-animation-fill-mode forwards
            animation-fill-mode forwards
            margin auto
            margin-bottom 10px
            &:nth-child(2)
                width 100%
            &:nth-child(2)
                width 90%
            &:nth-child(3)
                width 80%
            &:nth-child(4)
                width 70%
            &:last-child
                margin-bottom 0px
        &:last-child
            margin-right 0px

@keyframes shimmerBackground
    0%
        background-position -5000px 0
    100%
        background-position 5000px 0